header{
    background-image: url("image/headerimg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px 100px 100px;
}
.header-logo{
    align-items: flex-start;
    background-color: rgba(255, 248, 220, 0.24);
}
.topnav{
    display: flex;
    align-content: end;
    justify-content: flex-end;
}
a{
    color: rgb(245, 243, 243);
    text-shadow: 2px 2px black;
    padding: 12px;
}
.topnav a:hover{
    position: relative;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color:rgba(255, 255, 255, 0);
  color:rgb(16, 171, 243);
  
}
