header{
    background-image: url("image/headerimg.png");
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: start;
}
.header-logo{
    margin: 10px 800px 100px 40px;
    background-color: rgba(255, 248, 220, 0.24);
}
.topnav{
    display: flex;
    align-content: end;
}
a{
    color: rgb(245, 243, 243);
    margin: 10px 0 20px 0;
    padding: 12px;
    text-shadow: 2px 2px black;
}
.topnav a:hover{
    position: relative;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color:rgba(255, 255, 255, 0);
  color:rgb(16, 171, 243);
  
}
